<div class="headering">
        <p>portfolio</p>
</div>

<div class="intro">
    <div class="about">
        <h3>ABOUT</h3>
        <h1>自己紹介</h1>
    </div>
    <div class="container">
        <div class="item1">
            <div class="AA">
                <img src="/assets/AA.png" alt=" " class="myicon">
            </div>
        </div>
        <div class="item2">
            <ul>
                <li>名前:   Kano Daiki</li>    
                <li>出身:   富山県</li>    
                <li>学歴:   金沢工業大学工学部情報工学科　在学</li>    
                <li>活動:   株式会社CirKitのシステム部に所属して活動している</li>    
                <li>趣味:   筋トレ、ポーカー</li>    
            </ul>
        </div>
    </div>
</div>

<div class="skill">
    <div class="skill-header">
        <h3>SKILLS</h3>
        <h1>さわった技術</h1>
    </div>
    <div class="skills-container">
        <div class="skill-item">
            <img src="/assets/rubyicon.png" alt="" class="rubyicon">
            <P>Ruby on Rails</p>
        </div>
        <div class="skill-item">
            <img src="/assets/pythonicon.png" alt="" class="pythonicon">
            <p>Python</p>
        </div>
        <div class="skill-item">
            <img src="/assets/Javaicon.png" alt="" class="javaicon">
            <p>Java</p>
        </div>
        <div class="skill-item">
        <img src="/assets/mysqlicon.png" alt="" class="mysqlicon">
        <p>MySQL</p>
        </div>
    </div>

</div>

<div class="contact">
    <div class="contact-header">
        <h3>contact</h3>
        <h1>お問い合わせ・SNS</h1>
    </div>
    <p>お問い合わせがございましたらツイッターのDMまでお願いします</p>
    <div class="snsicons">
        <a href="https://twitter.com/kanodaikihand"><img src="/assets/twittericon.png" class="twittericon"></a>
        <a href="https://github.com/d4iki"><img src="/assets/githubicon.png" class="githubicon"></a>
    </div>

</div>