/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body {
    margin: 0;
    padding: 0;
}

.headering {
    width: 100%;
    height: 100vh;
    background-image: image_url("header.jpg");
    background-position: center;
    background-size: cover;
}

.headering p {
    font-size: 80px;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    text-align: center;
    color: #0062cca1;
    padding-top: 40vh;
}

.intro {
    background-color: #e5ebf1;
    width: 100%;
    height: 75vh;
}
.about {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 48px;
}

.about h1, h2, h3 {
    font-family: 'ヒラギノ角ゴ Pro W6','HiraKakuPro-W6';
}

.about h3 {
    font-size: 1.3rem;
    color: #ffc107;
    margin: 0;
}

.container {
    display: flex;
    padding-top: 48px;;
}

.item1 {
    padding-left: 10em;
    padding-right: 6em;
}

.item2 {
    padding-left: 5em;
    padding-right: 3em;
}


img.myicon {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

.skill {
    background-color: #d8dfe3;
    width: 100%;
    height: 65vh;
}
.skill-header {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.skill-header h1, h2, h3 {
    font-family: 'ヒラギノ角ゴ Pro W6','HiraKakuPro-W6';
    color: black;
}

.skill-header h3 {
    font-size: 1.3rem;
    color: #ffc107;
    margin: 0;
}

.skills-container {
    display: flex;
}

.skill-item {
    width: 25%;
    text-align: center;
}

.skill-item p {
    font-family: 'ヒラギノ角ゴ Pro W6','HiraKakuPro-W6';
    font-size: 1.5rem;
    padding-top: 30px;
}
img.rubyicon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

img.pythonicon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

img.javaicon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

img.mysqlicon {
    width: 100px;
    height: 100px;
}

.contact {
    background-color: white;
    width: 100%;
    height: 35vh;
}

.contact p {
    text-align: center;
    font-family: 'ヒラギノ角ゴ Pro W6','HiraKakuPro-W6';
    font-size: 24px;
    margin-bottom: 3rem;

}

.contact-header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.contact-header h1, h2, h3 {
    font-family: 'ヒラギノ角ゴ Pro W6','HiraKakuPro-W6';
    color: black;
}

.contact-header h3 {
    font-size: 1.3rem;
    color: #ffc107;
    margin: 0;
}

.snsicons {
    text-align: center;
}
img {
    width: 64px;
    margin-right: 40px;
    margin-left: 40px;
}